[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-color-scheme"]
	path = bundle/vim-color-scheme
	url = https://github.com/c9s/colorselector.vim.git
